<html>
    <head>
        <title>{{ account.name }}</title>

        <style>
        body {
            background-color: {{ theme.options.main.background_color }}
        }
        </style>
    </head>
    <body>  
        <h4>Hello, World</h4> 
        <h2>{{ theme.options.main.header_image.alt_text }}</h2>
        <img src="{{ theme.options.main.header_image.url }}" />

        {% set insult = boxes.insults.all|random %}
        {{ insult.name }}

    <em>theme by: {{ theme.config.theme.name }}</em>
</body>
</html>